TIBCOSIVERMOBILE_PoC_BW/TIBCOSIVERMOBILE_PoC/ServiceSchema/VendorsDetails_Concrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:ns1="http://www.tibco.com/schemas/TIBCOSIVERMOBILE_PoC/ServiceSchema/Schema.xsd" xmlns:tns="http://xmlns.example.com/1378879789494" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:ns0="http://www.tibco.com/schemas/TIBCOSIVERMOBILE_PoC/ServiceSchema/Schema1.xsd" xmlns:soap1="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jndi="http://www.tibco.com/namespaces/ws/2004/soap/apis/jndi" name="Untitled" targetNamespace="http://xmlns.example.com/1378879789494">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TIBCOSIVERMOBILE_PoC/ServiceSchema/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/TIBCOSIVERMOBILE_PoC/ServiceSchema/Schema.xsd">
            <xs:element name="DriverLicNbr" type="xs:string"/>
            <xs:element name="DriverLoc" type="xs:string"/>
            <xs:element name="DriverName" type="xs:string"/>
            <xs:element name="DriverPhnNbr" type="xs:string"/>
            <xs:element name="Driver_Details">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="ns1:DriverName"/>
                        <xs:element minOccurs="0" ref="ns1:DriverLoc"/>
                        <xs:element minOccurs="0" ref="ns1:DriverPhnNbr"/>
                        <xs:element minOccurs="0" ref="ns1:VendorCompany"/>
                        <xs:element minOccurs="0" ref="ns1:DriverLicNbr"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VendorCompany" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns="http://www.tibco.com/schemas/TIBCOSIVERMOBILE_PoC/ServiceSchema/Schema1.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.tibco.com/schemas/TIBCOSIVERMOBILE_PoC/ServiceSchema/Schema1.xsd">
            <xs:element name="DriverNumber" type="xs:string"/>
            <xs:element name="root">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:DriverNumber"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Service">
        <wsdl:port binding="tns:GetEmployeeDetailsEndpoint1Binding" name="GetEmployeeDetailsEndpoint1">
            <soap:address location="http://localhost:2020/Service/Service-1.serviceagent/GetEmployeeDetailsEndpoint1"/>
        </wsdl:port>
        <wsdl:port binding="tns:GetVendorsDetailsEndpoint1Binding" name="GetVendorsDetailsEndpoint1">
            <soap:address location=""/>
            <jms:connectionFactory>QueueConnectionFactory</jms:connectionFactory>
            <jms:targetAddress destination="queue">Test.Queue</jms:targetAddress>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="GetEmployeeDetails">
        <wsdl:operation name="GetEmployeeDetails">
            <wsdl:input message="tns:InputMessage"/>
            <wsdl:output message="tns:OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="GetVendorsDetails">
        <wsdl:operation name="GetVendorsDetails">
            <wsdl:input message="tns:InputMessageJMS"/>
            <wsdl:output message="tns:OutputMessage_JMS"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetEmployeeDetailsEndpoint1Binding" type="tns:GetEmployeeDetails">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetEmployeeDetails">
            <soap:operation soapAction="GetEmployeeDetails_01" style="document"/>
            <wsdl:input>
                <soap:body parts="InputMessage" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="OutputMessage" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GetVendorsDetailsEndpoint1Binding" type="tns:GetVendorsDetails">
        <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        <jms:binding messageFormat="Text"/>
        <wsdl:operation name="GetVendorsDetails">
            <soap:operation soapAction="GetVendorsDetails_01" style="document"/>
            <wsdl:input>
                <soap:body parts="InputMessageJMS" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="OutPutMessage_JMS" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InputMessage">
        <wsdl:part element="ns0:root" name="InputMessage"/>
    </wsdl:message>
    <wsdl:message name="OutputMessage">
        <wsdl:part element="ns1:Driver_Details" name="OutputMessage"/>
    </wsdl:message>
    <wsdl:message name="InputMessageJMS">
        <wsdl:part element="ns0:root" name="InputMessageJMS"/>
    </wsdl:message>
    <wsdl:message name="OutputMessage_JMS">
        <wsdl:part element="ns1:Driver_Details" name="OutPutMessage_JMS"/>
    </wsdl:message>
</wsdl:definitions>